<a href="https://colab.research.google.com/github/JoseAntonioAnayaValdez/Programas-Est.-de-datos/blob/main/Ejemplos_For_en_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ** Un bucle for establece la variable iteradora en cada valor de una lista, arreglo o cadena proporcionada y repite el c√≥digo en el cuerpo del bucle for para cada valor de la variable iteradora.**(JOSE ANTONIO ANAYA VALDEZ, ERNESTO FERNANDO LOPEZ SANCHES)

Ejemplos de for leyendo numeros e imprimiendo hasta un alto

In [ ]:
coleccion = [2, 4, 5, 7, 8, 9, 3, 4]
for e in coleccion:
    if e == 7:
        break
    print(e)

2
4
5

Ejemplo de for con rango

In [ ]:
for i in range(5):
    print(i, end=", ")

0, 1, 2, 3, 4,

Ejemplo for numeros pares

In [ ]:
coleccion = [2, 4, 5, 7, 8, 9, 3, 4]
for e in coleccion:
    if e % 2 != 0:
        continue
    print(e)

2
4
8
4

Ejemplo for en un arreglo sacando letras

In [ ]:
valores = {'A': 4, 'E': 3, 'I': 1, 'O': 0}
for k in valores:
    print(k)

A
E
I
O

Ejemplo for en un areglo sacando numeros

In [ ]:
valores = {'A': 4, 'E': 3, 'I': 1, 'O': 0}
for v in valores.values():
    print(v)

4
3
1
0

Ejemplo for en lista

In [ ]:
lista =[(1,2),(9,8)]
for a,b in lista:
  print("a :",a , "b :",b)

a : 1 b : 2
a : 9 b : 8